/* @font-face {
  font-family: "Acre";
  src: url("./fonts/AcreBold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Acre";
  src: url("./fonts/AcreMed.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
} */
.raleway {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

body {
  width: 1440px;
  margin: auto;
  position: relative;
  background-color: #f5f8ff;
}

section.banner {
  width: 1440px;
  height: 698px;
  background: url(./Assets/Hero-bg.png);
  background-size: cover;
  margin: auto;
  position: relative; /* important for absolute child positioning */
}

.herodiv1 {
  width: 1140px;
  height: 151px;
  margin: auto;
  box-sizing: border-box;
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

p.logo {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 900;
  color: #4e47ff;
  font-size: 34px;
}

.btn1 {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 700;
  display: inline-block;
  width: 132px;
  height: 48px;
  padding: 12px 36px;
  font-size: 15px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #ffffff;
  background-color: #4e47ff;
  border: none;
  border-radius: 10px;
}

.herodiv2 {
  position: absolute;
  width: 905px;
  height: 237px;
  margin-left: 267.5px;
  margin-top: 150px;
  margin-bottom: 152;
  display: flex;
  flex-direction: column;
  gap: 37px;
  align-items: center;
}

p.intro {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 700;
  color: #1c1c1c;
  font-size: 65px;
  margin: auto;
  text-align: center;
}

.btn2 {
  display: inline-block;
  width: 174px;
  height: 48px;
  padding: 15px 25px;
  font-size: 17px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #ffffff;
  background-color: #4e47ff;
  border: none;
  border-radius: 10px;
}
